<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<body>
  <main role="main">
    <div class="container-fluid">
      <form #resetPassForm="ngForm" class="form-width shadow-lg p-3 mt-5">
          <label class="mb-3 font-weight-bold">Reset Password</label>
          <div class="form-group">
            <label for="inputPass">New Password*</label>
            <input type="password" class="form-control" id="inputPass" placeholder="New Password" name="password" [(ngModel)]="password" #passwordAttr="ngModel" required>
          </div>
          <div class="form-group">
            <label for="inputConfirmPass">Confirm New Password*</label>
            <input type="password" class="form-control" id="inputConfirmPass" placeholder="Confirm New Password" name="confirmPass" [(ngModel)]="confirmPassword" #confirmPassAttr="ngModel" required>
          </div>
        <button type="button" class="btn btn-primary" [disabled]="!resetPassForm.form.valid" (click)="resetPassword()">Submit</button>
      </form>
    </div>
  </main>
</body>
</html>